pkgbase = qcom-diag-router-bin
	pkgdesc = Routing of diagnostics related messages between host and various subsystems
	pkgver = 1.0.3
	pkgrel = 1
	url = https://softwarecenter.qualcomm.com
	install = diag-router.install
	arch = aarch64
	license = LicenseRef-Qualcomm-Proprietary
	depends = glib2
	depends = qrtr
	provides = qcom-diag-router
	provides = diag
	conflicts = qcom-diag-router
	conflicts = diag
	options = !strip
	options = !debug
	source = https://softwarecenter.qualcomm.com/nexus/generic/software/chip/component/core-technologies.qclinux.0.0/260626/prebuilt_yocto/diag-router_15.0+really1.0.3_armv8a.tar.gz
	source = diag-router.service
	sha256sums = a01dfaceddf6dfc2c0c8b2babef157d1c37fc114392b6e8d3ddc9fc3315d2772
	sha256sums = SKIP

pkgname = qcom-diag-router-bin
